body{
  background-image: url("intro.jpg");
    background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;


}
h1{
  text-align: center;
  text-transform: uppercase;
  color: red;
}
