.head h1{
    color: red;
    text-align: center;
    text-transform: uppercase;

}
.head{
  background-color: black;
  height: 50px;
 


}
a{
  align-content: center;
  text-transform: uppercase;
  background-color: black;
  color: red;
}
.link{
  background-color: black;
  text-align: center;
  border-radius: 150px;
}
body{
  background-image: url("back1.jpg") no-repeat center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    z-index: -10;
    display: block;
  position: fixed;
  left: 0;
  top: 0;
    webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
